# --- CONFIGURAÇÕES DE DESENVOLVIMENTO (DOCKER) ---
DB_LOCAL= 
DB_LOCAL_USER=
DB_LOCAL_PASS=

# --- CONFIGURAÇÕES DE PRODUÇÃO (NEON) ---
DB_PROD_URL=
DB_PROD_USER=
DB_PROD_PASS=

# --- CONFIGURAÇÃO DO JWT ---
JWT_SECRET_BASE64=

# --- CONFIGURAÇÃO ADMIN ---
BOOTSTRAP_ADMIN_NOME=
BOOTSTRAP_ADMIN_EMAIL=
BOOTSTRAP_ADMIN_SENHA=
BOOTSTRAP_ADMIN_TELEFONE=