# --- CONFIGURAÇÕES DE DESENVOLVIMENTO (DOCKER) ---
DB_LOCAL=devdb
DB_LOCAL_USER=devuser
DB_LOCAL_PASS=devpass

# --- CONFIGURAÇÕES DE PRODUÇÃO (NEON) ---
DB_PROD_URL=
DB_PROD_USER=
DB_PROD_PASS=

# --- CONFIGURAÇÃO DO JWT ---
JWT_SECRET_BASE64=MDEyMzQ1Njc4OWFiY2RlZjAxMjM0NTY3ODlhYmNkZWY=

# --- CONFIGURAÇÃO ADMIN ---
SECURITY_BOOTSTRAP_ADMIN_ENABLED=false
BOOTSTRAP_ADMIN_NOME=Admin Local
BOOTSTRAP_ADMIN_EMAIL=admin.local@example.com
BOOTSTRAP_ADMIN_SENHA=admin123
BOOTSTRAP_ADMIN_TELEFONE=11999999999
