# --- Java / Maven (Backend) ---
**/target/
**/build/
.mtl.xml
.classpath
.project
.settings/
*.jar
*.war
*.ear
# Opcional: Remova a linha abaixo se quiser que o time use o ./mvnw
# .mvn/wrapper/maven-wrapper.jar

# --- Node / React / Next.js (Frontend) ---
**/node_modules/
**/.next/
**/dist/
**/build/
**/out/
.vercel
*.tsbuildinfo

# --- IDEs (IntelliJ, VS Code, NetBeans) ---
.idea/
.vscode/
*.iml
*.iws
*.ipr
.nb-gradle/
/nbproject/private/

# --- Infra & Env ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.docker/

# --- OS Files ---
.DS_Store
Thumbs.db
desktop.ini

# --- Logs ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*